doctype
html
     head
          title Final Project!
          link(rel='stylesheet',type = 'text/css', href='css/styles.css')
          link(rel='icon', href='images/gem.png')
          script(src='js/BoolChecker.js')
     body
          img.skeleton(src='images/skeleton.gif', align = "left")
          img.skeleton(src='images/skeleton.gif', align = 'left')
          img.skeleton(src='images/skeleton.gif', align = 'right')
          img.skeleton(src='images/skeleton.gif', align = 'right')
          h1 Robert Cichon's Final Project!
          block content
          block choices
          block inventory