extends Layout
block content
     #storage You're suddenly face to face with a spooky ghost! It's too scary to do anything else, you can't continue! Looks like it's time to restart!
block choices
     #Choices 
          br
          #SChoices Choices:
          br
          |Die?
block inventory
     br
     br
     #Inventory Inventory:
     #image
     script(src='js/Inventory.js')
