extends Layout
block content
     #storage
     script(src='js/Room4.js')
block choices
     #Choices 
          br
          #SChoices Choices:
          br
          script(src='js/Choices.js')
block inventory
     br
     br
     #Inventory Inventory:
     #image
     script(src='js/Inventory.js')
